Package: derbynet-timer
Maintainer: James Weber
Version: 6.1-@BUILD@
Priority: optional
Architecture: all
Depends: jarwrapper, default-jre | java9-runtime
Replaces: derbynet (<= 3.0-1), derbynet-extras (<= 5.0-962)
Breaks: derbynet (<= 3.0-1)
Enhances: derbynet-server
Homepage: http://github.com/weberbox/derbynet/tree/v6.1
Description: Pinewood derby timer interface
