Package: derbynet-server
Maintainer: James Weber
Version: 6.1-@BUILD@
Priority: optional
Architecture: all
Depends: nginx,
        php-fpm | php7.2-fpm,
        php-curl | php7.2-curl,
        php-gd | php7.2-gd,
        php-sqlite3 | php7.2-sqlite,
        ssl-cert
Replaces: derbynet (<= 3.0-1)
Breaks: derbynet (<= 3.0-1)
Homepage: http://github.com/weberbox/derbynet/tree/v6.1
Description: Pinewood derby race management web server
